@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e1e3e9;
    margin: 0;
}
#encabezado-principal{  
font-family: "Roboto Condensed", sans-serif;
    background-color: #0b57ad;
    color: rgb(14, 7, 7);
    padding: 20px;
    text-align: center;
}
.seccion{
background-color: white;
margin: 20px;
padding: 30px;
border-radius: 25px;
box-shadow: 0px 0px 10px #0003;
}
.tarjeta{
    background-color: #e1e3e9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#formulario-contacto input{
    width: 30%;
    margin-bottom: 10px;
    padding: 1%;
}
.btn-principal{
    background-color: #4a90e2;
    color:white;
    border:none;
    padding: 10px;
    cursor:pointer
}
#pie-pagina{
    background: color #333;
    color:black;
    text-align:center;
    padding:15px;
    margin: top 30px;
}

