*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}
 header{
    width: 100%;
    height: 50px;
    background-color: rgb(9, 7, 148);
    display: flex;
flex-direction:row;
 }
 img{
width: 100px;
height: 100px;
 }
 ul{
display: flex;
flex-direction:row;
gap: 60px;
list-style-type: none;
justify-content: end;
padding-top: 25px
 }
 li{
font-size: 15px;
color: rgba(252, 252, 252, 0.882);
background: rgb(9, 7, 148);
padding: 25px;
border-radius: 100px;
 }
 .liheader{
    font-size:30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 15px;
 }
 section{
    display: flex;
    flex-direction: row;
 }
 #Art1{
    width: 30;
    padding: 20px 25px 0  15px;
 } 
 #art2{
    width: 70%;
    padding: 20px 25px 0 15px;
 }
 #Art1 p{
    padding-top: 15px;
    color: rgb(255, 255, 255) #5c5c5c;
    font-size: 14px;
 }
 #Art2 #ulArt{
    display: flex;
    flex-direction:row;
    list-style: none;
    gap: 15px;
    justify-content: center;
 }
 #Art2 #ulArt2 li{
    background-color: aqua;
    padding: 20px;
    border-radius: 15px;
 }
 #ulArt3, #h3Art3{
  background: white;
  list-style: none;
  padding-top: 12px;
 }
 #ulArt3 li{
    padding-top: 40px;
    border:thick;
 }